*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,html{
    width: 100%;
    height: 100%;
}
@font-face{
    font-family:raju ;
    src: url(fonnts.com-275026.zip)
}
h1{
    color: red;
    font-family: raju;
}
.suraj{
    color: aqua;
}
#ne{
    color: black;
    background-color: lightseagreen;
}