*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: black;
}
main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cards p{
    text-align: center ;
    margin-bottom: 20px;
}
.cards p span{
    font-weight: 600;
    color: green;
}
.cards{
    /* height: 300px; */
    width:400px;
    background-color: white ;
    border-radius: 10px;
    padding: 50px 30px;
    /* border-radius: 50px; */
}
.outer{
    height: 20px;
    width: 100%;
    border-radius: 50px;
    background-color: rgb(197, 197, 197);
}
.inner{
    height: 100%;
    width: 0;
    border-radius: 50px;
    background-color: green;

}
.bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}
.bottom h2{
    font-size: 60px;
}
.bottom button{
    padding: 12px 25px;
    background-color: green;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    font-weight: 600;
    border: 0;
}
.bottom button:active{
    scale: 0.95;
}