*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 100%;
    /* color: white; */
    background-color:black;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 60px 1fr 80px;
    grid-template-areas:  "header header"
                           "footer aside"
                           " section section"

    ;
    grid-gap: 10px;
}

header{ 
    background-color: gold;
    grid-area: header;
}

aside{
    background-color:darkcyan;
    grid-area: header;
}
footer{
    background-color: chartreuse;
    grid-area: footer;
}
section{
    background-color: blue;
    grid-area: section;
}