*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
html,body{
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 100%;
   background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    align-items: center;
    justify-items: center;
    align-content: space-between;
    /* row-gap: 10px;
    column-gap: 10px;
    align-items: start;
    justify-items: start; */
}
.child{
    background-color: rgba(220, 20, 60, 0.736);
    border: solid 3px white ;
    height: 100px;
    width: 100px;
}
