*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
#box1{
    height: 200px;
    width: 200px;
    background-color: crimson;
    position: absolute;
    left: 50%;
    top: 50%;
}
#box2{
    height: 200px;
    width: 200px;
    background-color: green;
    /* position: absolute; */
}
#box3{
   
    height: 200px;
    width: 200px;
    background-color: rgba(20, 200, 220, 0.348);
}