*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
 /* display grid */

/* #parent{
    width: 100%;
    height: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 200px 200px 200px 200px  ;
    flex-direction: wrap;
    display: flex;
} */
/* #child{
    width: 100%;
    height: 100%;
    background-color: crimson;
    /* border: 3px solid white; */
/* } */
/* #child:nth-child(2){
    background-color: aqua;
}
#child:nth-child(3){
    background-color:lightblue;
}
#child{
    border: 4px solid black;
 /* } */ 

 /* text design */

 h1{
    color: transparent;
    font-size: 200px;
    background-image: url(https://media.giphy.com/media/uNRQRsQ9H1UHK/giphy.gif);
    background-size: cover;
    background-clip: text;
    text-align: center;
    -webkit-text-stroke: 3px white;
 }
  h2{
    color: transparent;
    font-size: 200px;
    background-image: url(https://th.bing.com/th/id/R.b4ffb49c12dfc506f8ea837a2e5da309?rik=mkSBfhB9JrdkcA&pid=ImgRaw&r=0);
    /* background-image: url(suraj.jpg); */
    background-size: cover;
    background-clip: text;
    text-align: center;
    -webkit-text-stroke: 3px white;
 }
 