*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

button{
    width: 150px;
    height: 40px;
    /* padding: 10px 20px; */
    font-weight: 600px;
    background-color: crimson;
    border: none;
    cursor: pointer;
    border-radius: 5px ;
    font-size: 20px;
    position: relative;
    z-index: 9;
}
button:active{
    scale: 0.95;
}
main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

