*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
main{
    height: 100%;
    width: 100%;
   background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
}
/* #box{
    width: 300px;
    height: 300px;
    background-color:rgb(20, 90, 50);
    border: 3px solid white;
    border-radius: 10px;
} */
button{
    padding: 10px 20px;
    background-color: crimson;
    border: none;
    border-radius: 5px;
    font-weight: 600px;
    cursor: pointer;
}
/* button:hover{
    background-color: cadetblue;
} */
 button:active{
    scale: 0.95;
 }
 h1{
    color: aliceblue;
    font-size: 70px;
    background: linear-gradient(to right, red, blue);
    padding: 40px 50px;
    border-radius: 10px;
 }
