*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
main{
    width: 100%;
    display: flex;
    flex-direction: column;
   
    section{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}