*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
html,body{
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cards{
    height: 300px;
    width: 200px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
}
.cards img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    margin-bottom: 20px;
    border-radius: 10px;
}
.cards h2{
    font-size: 20px;
    text-align: center;
}
.cards i{
    position: absolute;
    top: 50%;
    left: 50%;
   font-size: 50px;
   opacity: 0.9;
    color: white;
    background: linear-gradient(to right bottom rgb(135, 7, 135), rgb(255, 11, 222));
    transform: translate(-50%, -50%) scale(0) rotate(-90deg);
    transition: all cubic-bezier(.77,.99,.65,1.14)  0.4s;
}